html{
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family:'Montserrat', Helvetica, Arial, sans-serif;
  color: black;
}

h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}


p{
  color: black;
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.35rem;
}

em{
  font-style:italic;
}

body{
  background-color: #6A737F;
  text-align: center;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  flex-direction: column;
}

.nav{
  list-style: none;
  margin: 0;
  padding: 0;
  background: #600017;
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
  display: block;
  background: #600017;
  padding: 10px;
  border-top: black 1px solid;
  color: white;
}

.nav a:visited {
  color: green;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.header{
  text-align: center;
}

.aside {
  display: flex;
  background:white;
  /*width: 100%;*/
}

.header {
  flex: 1 100%;
  padding: 10px;
}

.italic {
font-style: italic;
}

@media (min-width: 800px) {

.wrapper{
  flex-flow: row wrap;
  flex: 1 auto;
}

img{
border-style: none;
display: block;
margin: auto;
width: 50%;
order: 2;
}

ul {
  list-style-type: none;
}
.nav{
  flex-flow: row;
  justify-content: center;
  padding: 10px;

}
.nav a:hover{
  background: white;
}

article {
  width: 40%;
}

aside {
  width: 40%;
  /*flex-direction: row;
  order: 3;*/
}

}
