html{
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family:'Montserrat', Helvetica, Arial, sans-serif;
  color: black;
}

h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}


p{
  color: black;
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.35rem;
}

em{
  font-style:italic;
}

body{
  background-color: #94817A;
  text-align: center;
}

aside {
  background:  #95646D;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  flex-direction: column;
}

.nav{
  list-style: none;
  margin: 0;
  padding: 0;
  background: #7F303E;
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: space-around;
  font-family: 'Francois One', Helvetica, Arial, sans-serif;
}

.nav a {
  text-decoration: none;
  display: block;
  background: #7F303E;
  padding: 10px;
  /*border-top: black 1px solid;*/
  color: black;
}

.nav a:visited {
  color: black;

}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.header{
  text-align: center;
}

.aside-1 {
  display: flex;
  background: #95646D;
  color: black;
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.35rem;
  padding: 10px;
  width: 100%;
}

.header {
  flex: 1 100%;
  padding: 10px;
}

.italic {
font-style: italic;
}

#navigation .nav{
  order:2;
  margin: 10px;
  align-self: flex-start;
}

#content {
  background: #94817A;
  padding:10px;
}

#sidebar {
  background: #95646D;
  color:black;
  padding:10px;
}

#navigation ul{
  display:flex;
  flex-flow:column;
  justify-content: space-around;
  /*color: #333;*/
  list-style-type: none;
  padding:10px;
}

@media screen and (min-width: 600px){

  #pageBody {
    display: flex;
    flex-flow: row;
  }

  img {
    width: 80%;
    display: none;
    /*margin: 0 auto;*/
  }

  /*.nav{
    flex-flow: row;
    justify-content: center;
  padding: 10px;}*/

  /*.nav a:hover{
    background: white;
  }

  .nav a{
    border: none;
  }*/

  p{
		width: 80%;
		margin: 1.5em auto;
	}

  #content {
      flex: 3 auto;
      margin-right: 20px;
    }

    #sidebar{
      flex: 1 auto;
    }

    #navigation ul{
      display:flex;
      flex-flow:column;
      justify-content: space-around;
      /*color: #333;*/
      list-style-type: none;
      padding:10px;
    }

  #navigation li{
    border-right: none;
  }
  #pagebody {
    max-width: 60em;
  }
}

@media screen and (min-width: 1000px) {

.wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  /*flex: 1 auto;*/
}

.wrapper article {
  width: 30%;
}

/*p {
  width: 80%;
  max-width: 60em;
}*/



/*ul {
  list-style-type: none;*/
/*}*/
/*.nav{
  flex-flow: column;
  justify-content: center;
  padding: 10px;}*/

.nav a:hover{
  background: white;
}

.nav a{
  border: none;
}

.nav ul {
      display: flex;
      flex-flow: column;
      margin: 0;
  }

  .nav li{
    border-right:none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }

  /*.nav li:last-child {
    border-bottom: none;
  }*/

article {
  width: 40%;
}

aside {
  width: 40%;
  flex-direction: row;
  order: 3;
}

#navigation{
  order:2;
  margin: 10px;
  align-self: flex-start;
}

#navigation ul{
  display:flex;
  flex-flow:row;
  justify-content: space-around;
  /*color: #333;*/
  list-style-type: none;
  padding:10px;
}


#content{
  order:1;
  margin: 10px;
}

#sidebar{
  order: 3;
  margin: 10px
}
img {
  width: 80%;
  display: block;
  /*margin: 0 auto;*/
}
}
